*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.container{
    display: flex;
    width: auto;
    height: 720px;
    padding: 92px 0px 132px;
}

.one{
    width: 504px;
    height: 496px;
    padding: 0px 24px 0px 0px;
    margin: 5px 0px 0px 140px;
}
.logo{
    width: 480px;
    height: 58px;
    padding: 8px 0px 16px;
}
.title{
    width: 480px;
    height: 48.24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: #333333;
}
.para{
    width: 480px;
    height: 36px;
    color: #606770;
    font-family: SFProText-Regular,Arial, Helvetica, sans-serif;
    margin: 0px 0px 12px;
    padding: 0px 0px 12px;
}
.box{
    width: 160px;
    height: 206px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition-duration: 0.3s;
}
.box:hover{
    box-shadow:0px 0px 2px 4px rgba(0, 0, 0, 0.1) ;
    width: 160.2px;
    height: 206.2px;
}
.box_container{
    width: 160px;
    height: 160px;
    background-color: #F5F6F7; 
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.btn_link{
    width: 160px;
    height: 46px;
    background-color: #FFFFFF;
    color: #0866FF;
    font-family: SFProText-Medium,Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.two{
    background-color: brown;
    width: 396px;
    height: 496px;
}
.three{
    background-color: burlywood;
}
.four{
    background-color: cadetblue;
}